{% extends 'default.njk' %}

{% block body %}
  <article class="container px-4 py-16 prose sm:px-6 lg:px-8 lg:prose-xl">

    <!-- header -->
    <header class="mx-auto text-lg max-w-prose">
      <h1>
        <span class="block mt-2 text-3xl font-extrabold leading-8 tracking-tight text-center text-zinc-800 sm:text-4xl">{{ title }}</span>
      </h1>
      <p class="mt-8 text-xl leading-8 text-zinc-600">{{ description }}</p>
    </header>

    <!-- image -->
    <figure>
      <img class="w-full rounded-lg" src="{{ image }}" alt="">
      <figcaption class="text-zinc-600">{{ image_alt }}</figcaption>
    </figure>

    <div class="text-zinc-800">
      {{ content | safe }}
    </div>

  </article>
{% endblock %}`