<!-- Footer section -->
    <footer>
      <section class="section-footer">
          <div class="wrapper__footer">
              <div class="footer__card">
                  <h4>Hire Me</h4>
                  <p>Need an effective author platform? Get in touch and let's talk how best to achieve your business goals.</p>
                  <a href="{{ site.baseurl }}/hire" class="btn btn-cta">Contact Me</a>
              </div>
              <div class="footer__card">
                  <h4>Sitemap</h4>
                  <ul>
                    <li><a href="{{ site.baseurl }}/" class="footer__card--link">Home</a></li>
                    <li><a href="{{ site.baseurl }}/services" class="footer__card--link">Services</a></li>
                    <li><a href="{{ site.baseurl }}/about" class="footer__card--link">About</a></li>
                    <li><a href="{{ site.baseurl }}/hire" class="footer__card--link">Contact</a></li>
                  </ul>
              </div>
              <div class="footer__card">
                  <h4>Services</h4>
                  <ul>
                      <li><a href="{{ site.baseurl }}/services#Web-Design-Services" class="footer__card--link">Website Design</a></li>
                      <li><a href="{{ site.baseurl }}/services#Hosting-Maintenance" class="footer__card--link">Hosting & Maintenance</a></li>
                  </ul>
              </div>
              <!-- <div class="footer__card">
                <h4>Social Media</h4>
              </div> -->
          </div>
          <!-- <div id="footer">&copy; Copyright Gritty Publishing</div> -->
      </section>

      <!-- Crisp live chat script -->
      <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="27be9e86-0337-4fed-8bda-6c86140f99d6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>

      <!-- Counter.dev tracking -->
      <script> // counter.dev tracking code
        if (!sessionStorage.getItem("_swa") && document.referrer.indexOf(location.protocol + "//" + location.host) !== 0) {
            fetch("https://counter.dev/track?" + new URLSearchParams({
                referrer: document.referrer,
                screen: screen.width + "x" + screen.height,
                user: "Reinis",
                utcoffset: 0}));}
        sessionStorage.setItem("_swa", "1");
        </script>

  </footer>