<!-- Navigation -->
<h2><a href="{{ site.baseurl }}/">Gritty Publishing</a></h2>
<ul id="menu">
  <li><a href="{{ site.baseurl }}/services">Services</a></li>
  <!-- <li class="main-nav__item"><a href="{{ site.baseurl }}/portfolio">Portfolio</a></li> -->
  <!-- <li><a href="{{ site.baseurl }}/blog" class="main-nav__item">Blog</a></li> -->
  <li><a href="{{ site.baseurl }}/about">About</a></li>
  <!-- <li><a class="main-nav__item" href="{{ site.baseurl }}/contact">Contact</a></li> -->
  <li><a href="{{ site.baseurl }}/hire" class="hire">Hire Me</a></li>
</ul>