<div class="mb-16 lg:grid lg:grid-cols-2 lg:gap-8">
    <div class="sm:text-center md:max-w-2xl md:mx-auto lg:text-left">
      <h1>
        <span class="block mt-1 text-4xl font-extrabold tracking-tight sm:text-5xl xl:text-6xl">
          <span class="text-zinc-800">Hey,</span>
          <span class="text-violet-800">I'm Reinis!</span>
        </span>
      </h1>
      <p class="mt-3 text-base text-zinc-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
        I create effective websites for authors, freelance writers and other solo business owners.
      </p>
      <p class="mt-3 text-base text-zinc-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">I specialise in crafting websites that are aligned with your business goals. That are fast, secure, work well on any device and are accessible by anyone.</p>
      <p class="mt-3 text-base text-zinc-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
        Are you ready to build an effective author platform for your work or freelance services? Drop me a line and tell me more about your project.
      </p>

      <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
        <div class="rounded-md shadow">
          <a href="/contact" class="flex items-center justify-center w-full px-8 py-3 text-base font-medium text-white border border-transparent rounded-md bg-violet-800 hover:bg-violet-700 md:py-4 md:text-lg md:px-10">
            Get in touch
          </a>
        </div>
      </div>

    </div>

    <!-- image -->
    <div class="w-full max-w-sm mx-auto mt-8 md:max-w-md lg:mt-0">
      {# <img class="w-full rounded-full shadow-md" src="/assets/img/avatar.jpg" alt=""> #}
      <div class="object-cover w-full overflow-hidden rounded-full shadow-md">
        {% image "avatar.jpg", "" %}
      </div>
    </div>
  
    </div>
  </div>