<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    {% include header.html %}
    <!-- Stylesheets -->
    <link href="{{ site.baseurl }}/assets/css/sanitize.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header and Nav -->
    <header>
      <nav>
        {% include nav.html %}
        {% include toggle-menu.html %}
      </nav>
    </header>

    <!-- Main content -->
    <main>
      {{ content}}
    </main>
  
    {% include footer.html %}
    {% include analytics.html %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/lightbox.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/lightbox.css">
  </body>
</html>
