<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    {% include header.html %}
    <!-- Stylesheets -->
    <link href="{{ site.baseurl }} /assets/css/sanitize.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- Header and Nav -->
    {% include nav.html %}

    <!-- Main content -->
    <main>
      {{ content}}
    </main>
  
    {% include footer.html %}
    {% include analytics.html %}
  </body>
</html>
