---
layout: default
---

<!-- Article or Post section -->
<section class="section-article">
  <div class="content-wrapper">

    <!-- Need to figure out what to put in the header of a post/article -->

    <!-- <header class="section-header">
      <h2>{{ page.title }}</h2>
      <p class="section-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolores delectus ut architecto eos id numquam rerum assumenda voluptatibus possimus. Ipsam et doloribus praesentium! Aut aspernatur tempora cumque delectus est.</p>
    </header> -->

    <article class="post">
      <h2>{{ page.title }}</h2>
      {{ content }}
    </article>
  </div>
</section>