<div class="px-4 py-24 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="text-center">
        <h2 class="text-base font-semibold tracking-wide uppercase text-violet-600">Pricing</h2>
        <h2 class="text-3xl font-extrabold text-zinc-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">Web Development Pricing</h2>
        <p class="max-w-2xl mx-auto mt-6 text-xl text-zinc-600">Choose the plan that's right for you for growing your audience and achieving business results.</p>
    </div>
  
    <!-- Tiers -->
    <div class="mt-24 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-x-8">
      <div class="relative flex flex-col p-8 bg-white border rounded-md shadow-md shadow-zinc-400 border-zinc-200">
        <div class="flex-1">
          <h3 class="text-xl font-semibold text-zinc-900">Starter</h3>
          <p class="flex items-baseline mt-4 text-zinc-900">
            <span class="text-5xl font-extrabold tracking-tight">$199</span>
          </p>
          <p class="mt-6 text-zinc-600">Single-page Landing Page.</p>
  
          <!-- Feature list -->
          <ul role="list" class="mt-6 space-y-6">
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Author Bio section</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Books Section, for up to 3 books with purchase links</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Newsletter sign-up form</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Mobile-optimized and responsive</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">SEO best-practices built-in</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Fast, secure and easy to maintain</span>
            </li>

          </ul>
        </div>
  
        <a href="/contact" class="block w-full px-6 py-3 mt-8 font-medium text-center border border-transparent rounded-md text-violet-700 bg-violet-50 hover:bg-violet-100">Get started</a>
      </div>
  
      <div class="relative flex flex-col p-8 bg-white border rounded-md shadow-md shadow-zinc-400 border-zinc-200">
        <div class="flex-1">
          <h3 class="text-xl font-semibold text-zinc-900">Standard</h3>
  
          <p class="absolute top-0 py-1.5 px-4 bg-violet-600 rounded-full text-xs font-semibold uppercase tracking-wide text-white transform -translate-y-1/2">Most popular</p>
          <p class="flex items-baseline mt-4 text-zinc-900">
            <span class="text-5xl font-extrabold tracking-tight">$499</span>
          </p>
          <p class="mt-6 text-zinc-600">Fully featured author website.</p>
  
          <!-- Feature list -->
          <ul role="list" class="mt-6 space-y-6">
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Home, Books, About and Contact pages</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Individual pages for up to 5 books with purchase links</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Newsletter sign-up form</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Mobile-optimized and responsive</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">SEO best-practices built-in</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Fast, secure and easy to maintain</span>
            </li>
          </ul>
        </div>
  
        <a href="/contact" class="block w-full px-6 py-3 mt-8 font-medium text-center text-white border border-transparent rounded-md bg-violet-600 hover:bg-violet-700">Get started</a>
      </div>
  
      <div class="relative flex flex-col p-8 bg-white border rounded-md shadow-md shadow-zinc-400 border-zinc-200">
        <div class="flex-1">
          <h3 class="text-xl font-semibold text-zinc-900">Platform</h3>
          <p class="flex items-baseline mt-4 text-zinc-900">
            <span class="text-5xl font-extrabold tracking-tight">$599</span>
          </p>
          <p class="mt-6 text-zinc-600">Full author platform, with a Blog.</p>
  
          <!-- Feature list -->
          <ul role="list" class="mt-6 space-y-6">
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">All features of a Standard website</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Dedicated Blog</span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Easy content management through open-source <abbr title="Content Management System">CMS</abbr></span>
            </li>
  
            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Mobile-optimized and responsive</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">SEO best-practices built-in</span>
            </li>

            <li class="flex">
              <!-- Heroicon name: outline/check -->
              <svg class="flex-shrink-0 w-6 h-6 text-violet-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3 text-zinc-600">Fast, secure and easy to maintain</span>
            </li>
          </ul>
        </div>
  
        <a href="/contact" class="block w-full px-6 py-3 mt-8 font-medium text-center border border-transparent rounded-md text-violet-700 bg-violet-50 hover:bg-violet-100">Get started</a>
      </div>
    </div>
  </div>
  